.print-only {
	display: none;
}

@media only print {
	html, body {
		font-size: 12px;
	}

	.print-only {
		display: initial;
	}

	.main {
		text-align: left;
	}


	.cv {

		h2 {

			strong {
				max-width: auto;
				float: none;
			}

			a {
				text-decoration: none;
			}
		}

		a {
			&:link:after, &:visited:after {
				display: none;
			}
		}
	}

}