/******************************************************************
Site Name: xuxu.rocks
Author: Bruno Gama

Stylesheet: Typography

Importing my fonts (with base64 I hope) and shiz....

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

  @font-face {
    font-family: 'Exo';
    src: url('../fonts/exo2/webfont/exo2-medium-webfont.eot');
    src: url('../fonts/exo2/webfont/exo2-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2/webfont/exo2-medium-webfont.woff') format('woff'),
         url('../fonts/exo2/webfont/exo2-medium-webfont.ttf') format('truetype'),
         url('../fonts/exo2/webfont/exo2-medium-webfont.svg#exo-medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Exo';
    src: url('../fonts/exo2/webfont/exo2-light-webfont.eot');
    src: url('../fonts/exo2/webfont/exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2/webfont/exo2-light-webfont.woff') format('woff'),
         url('../fonts/exo2/webfont/exo2-light-webfont.ttf') format('truetype'),
         url('../fonts/exo2/webfont/exo2-light-webfont.svg#exo-light') format('svg');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Exo';
    src: url('../fonts/exo2/webfont/exo2-bold-webfont.eot');
    src: url('../fonts/exo2/webfont/exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2/webfont/exo2-bold-webfont.woff') format('woff'),
         url('../fonts/exo2/webfont/exo2-bold-webfont.ttf') format('truetype'),
         url('../fonts/exo2/webfont/exo2-bold-webfont.svg#exo-bold') format('svg');
    font-weight: 800;
    font-style: normal;
  }


/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Exo", sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$lato:              'Lato', $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}


/* Base typography styles */

body {
  font-family: $sans-serif;
  font-weight: 200;
  line-height: 1.625em;
}

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1em;
  }

    h1 {
      font-size: 4.291em;
      line-height: 1.136em;
    }

    h2 {
      font-size: 2.641em;
      line-height: 1.224em;
    }

    h3 {
      font-size: 1.625em;
    }

  p {
    margin: 1.625em 0;
  }
  ul {
    list-style: square;
  }

  a {
    color: $link-color;;

    &:hover, &:focus {
      color: lighten($link-color, 10%);
    }
  }

/* Text sizes */

.bigger {
  font-size: 1.5em;
}

.smaller {
  font-size: .7em;
}

/* Text coloring */

.green-text {
  color: $green;
}

.blue-text {
  color: $blue;
}

.yellow-text {
  color: $yellow;
}

.red-text {
  color: $red;
}