/******************************************************************
Site Name: xuxu.rocks
Author: Bruno Gama

Stylesheet: Screens worth 768px or more

******************************************************************/

body {
	background-position: right 0;
}

	.main {
		float: right;
		margin-right: 26px;
		text-align: right;
	}